<div class="row">

  <div class="col-12" *ngFor="let ballot of ballots">
    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img src="{{ballot.image}}">
          </div>
          <div class="col-9">
            <h5 class="card-title">
              <i class="fas fa-ticket-alt"></i> {{ballot.title}}</h5>
            <p class="card-text">{{ballot.description}}</p>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
