<bl-navbar></bl-navbar>
<bl-carousel></bl-carousel>
<div class="container mt-4">

  <div class="row">
    <div class="col-6">
      <h2>Our ballots
        <i class="fas fa-box-open"></i>
      </h2>
      <bl-products></bl-products>
    </div>
    <div class="col-6">
      <div class="card">
        <h5 class="card-header">Sold Ballots</h5>
        <div class="card-body">
          <h5 class="card-title">These people went before you!</h5>
          <bl-ballot-counter [startCount]="1213"></bl-ballot-counter>
          <p class="card-text">With supportng text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<bl-footer></bl-footer>
